<h1 class="text-center">My DashBoard</h1>
<div class="container mt-2 me-2  shadow-lg p-3 mb-5 rounded">
    
    <div class="row home-detail">
       <div class="col-md-5 cont mt-3">
           <img class="rounded-circle" [src]="image" alt="" width="400px" height="300px">
       </div>
       <div class="col-md-7 animated bounceInRight homexp">
            <h5>Hello I'm</h5>
            <h2>{{user.faculty_name}}</h2>
            <p>My Designation is,</p>
            <h4>{{user.designation}} </h4>
            <p>Salary is,</p>
            <h4>₹{{user.salary}} </h4>
            <p>Phone:</p>
            <h4>{{user.mobile}}</h4>
            <p>Email:</p>
            <h4>{{user.email}}</h4>
        </div>
        
    </div>
    
 </div>
 
 
